.box-layout {
  align-items: center;
  background: url('/images/bg1.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-layout__box {
  background: fade-out(white, .35);
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 110rem;
  height: 60rem;
  align-items: centre;
  justify-content: center;
  //display: flex;
  //justify-content: center;
  //align-items: center;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 0.75;
}

.box-layout__tagline{
  margin: 0 0 $m-size 0;
  line-height: 1.5;
}
